body{
    background-image: url("images/jj21.jpeg");
}
.field{
    
    padding: 10px;
}
.css, .html, .python, .c, .matlab{
    height: 120px;
    width: 120px;
}
.backcom{
    background-image: url("images/black.jpeg") ;
    background: linear-gradient(to bottom right,#102542,#f87060 );
    border: 5px solid white;
    background-repeat: no-repeat;
}
.fieldset, .pyt, .mathj, .lmm, .mml{
      background: linear-gradient(to bottom right,#102542,#f87060 );
      border: 5px solid white;
}
.sal{
    font-size: small;
    color: aliceblue;
}
.name{
    font-size:x-large;
     color: aliceblue;
}

.res{
    font-size: medium;
     color: aliceblue;
}
.qui{
    width:200px;
    height: 20px;
    color: aliceblue;
}
.comptr , .lic , .pyt, .ma, .cc, .art{
    font-size: large;
    color: aliceblue;
}
ol {
  color: white;
}
.profile{
   
    display: flex;
    justify-content:flex-end;
    align-items: flex-start;
}
